<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
    {{ script | safe }}
  </head>
  <body>
    <div class=page>
      <h1>{{ header }}</h1>
      {{ div | safe }}
    </div>
      <form action = "http://localhost:5000/index" method = post>

          <div style = font-size:20px; font-weight:bold; margin-left:150px;>
             {{ form.language.label }}
             <br>
             {{ form.language }}
             <br>
          </div>

      </form>
  </body>
</html>
